go 1.21.3

use (
	./week-1/day-1/preview
	./week-1/day-1/reflect
	./week-1/day-1/ungraded-1
	./week-1/day-2/demo-http
	./week-1/day-2/ungraded-2
	./week-1/day-2/ungraded-3
	./week-1/day-3/ungraded-4
	./week-1/day-5/go-sp
	./week-1/day-5/misc
	./week-2/day-1/preview
	./week-2/day-1/preview-gin
	./week-2/day-2/go-jwt
	./week-2/day-2/midddleware-excercise
	./week-2/day-2/ungraded-5
	./week-2/day-2/ungraded-6
	./week-2/day-3/ungraded-7
	./week-2/day-3/ungraded-8
	./week-2/day-4/ungraded-9
)
